
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h2{
    /*color: rebeccapurple;
       color:#FF3786;
    */
   color: rebeccapurple;
    font-size: 35px;
}

.Orange_highlight{
    color: orange;
}
.namehighlight1{
    margin-top:-35px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 70%;
    margin-top: 8%;
}

.top-bg{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 60px;
}

p{
    text-align: justify;
    font-size:15px;
    margin-top:-10px;
    color:black;
    padding:5px;
}

.likk-button{
    text-decoration:none;
    color:white;
    background-image: linear-gradient(45deg, lightsalmon,tomato,salmon);
    padding:10px 20px;
    border-radius:5px;
    font-weight:bold;
}
.cv-button{
    text-decoration:none;
    color:white;
    background-image: linear-gradient(45deg, lightsalmon,tomato,salmon);
    padding:10px 60px;
    border-radius:5px;
    font-weight:bold;
}
.dream-area{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
}

.single_box{
    box-shadow:10px 10px 40px gray;
    border-radius:5px;
    height:60%;
}

.exprience_area{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
}

#full_stack{
    border-left:7px solid;
    border-image:linear-gradient( 45deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#baby_dev{
    border-left:7px solid;
    border-image:linear-gradient( 180deg, blue, cyan);
    border-image-slice: 1;
}

.copyright{
    text-align:center;
    color: whitesmoke;
}
.footer{
    background-color:green;
}
